---


- name: Create a volume
  docker_volume:
    name: esdata
    tls_hostname: elk-server

- name: Deploy Elastic stack
  docker_compose:
    project_name: "elk_docker"
    definition:
      version: "3"
      services:
        elasticsearch:
          image: "docker.elastic.co/elasticsearch/elasticsearch:7.7.0"
          ports:
            - "9200:9200"
            - "9300:9300"
          environment:
            discovery.type: single-node
          volumes:
            - "/home/centos/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
        kibana:
          image: "docker.elastic.co/kibana/kibana:7.7.0"
          ports:
            - "5601:5601"
          environment:
              SERVER_NAME: kibana
              ELASTICSEARCH_URL: http://elasticsearch:9200
        logstash:
          image: "docker.elastic.co/logstash/logstash:7.7.0"
          ports:
            - "5044:5044"

